/* Colors */
a           { color: inherit;                       }
hr          { background: #CCC; color: #CCC;        }
body        { background: #FFF; color: #000;        }
pre, code   { background: #EEE;                     }
p.subtitle  { background: #DDD;                     }
:target     { background: #FF06;                    }
::selection { background: #BDF; color: inherit;     }
blockquote  { color: #666; border-left-color: #AAA; }
summary     { background: #DDD;                     }
pre         { scrollbar-color: #888 #EEE;/* FG BG */}

p.blog-date         { color: #888; }
td.blog-index-date  { color: #888; }

@media (prefers-color-scheme: dark) {
  hr          { background: #555; color: #555;        }
  body        { background: #000; color: #FFF;        }
  pre, code   { background: #333;                     }
  p.subtitle  { background: #444;                     }
  :target     { background: #550;                     }
  ::selection { background: #338; color: inherit;     }
  blockquote  { color: #CCC; border-left-color: #666; }
  summary     { background: #444;                     }
  pre         { scrollbar-color: #888 #333;/* FG BG */}
}


/* Fonts */
body                    { font-family: monospace; }
h1.blog-title           { font-family: serif;     }
h1, h2, h3, h4, h5, h6  { font-family: serif;     }

body                { font-size: 16px; }
table               { font-size: 16px; }
h1.blog-title       { font-size: 38px; }
p.blog-date         { font-size: 14px; }
td.blog-index-date  { font-size: 14px; }
#footnotes          { font-size: 14px; }


/* Everything else */
body {
  margin: 1ch auto;
  padding: 0 1ch;
  max-width: 72ch;
  text-align: justify;
}

blockquote {
  padding: 1ch 2ch;
  margin-left: 2ch;
  margin-right: 2ch;
  font-style: italic;
  border-left-width: 3px;
  border-left-style: solid;
}

summary {
  padding: 0.5ch 1ch;
  border-radius: 0.5ch;
}

h1, h2, h3, h4, h5, h6 {
  text-align: initial;
}

table, pre  {
  overflow: scroll;
}

pre  { padding: 2ch; }
code { padding: 0 0.5ch; }

th, td        { padding: 0.5ch; }
th, td, table { border: 1px solid; }

a                 { text-decoration: underline; }
a.footnote        { text-decoration: none;      }
a.self-link       { text-decoration: none;      }
a.self-link:hover { text-decoration: underline; }

hr {
  border: none;
  height: 1px;
  max-width: 50ch;
  margin: 1ch auto;
}

footer    { text-align: center;   }
footer hr { max-width:  inherit;  }

#footnotes {
  margin: 4ch;
}

/* Blog */
h1.title, h1.blog-title {
  margin: 1.5ch 0;
  text-align: center;
}
p.subtitle {
  padding: 2ch;
  margin-bottom: 1ch;
  border: 2px solid #888;
}
p.blog-date {
  margin-top: 0px;
  margin-bottom: 5ch;
}


/* Blog index */
table.blog-index {
  margin: 2ch 0;
  border: none;
  width: 100%;
}
td.blog-index-name {
  text-align: left;
  padding: 0;
  border: none;
}
td.blog-index-date {
  text-align: right;
  padding: 0;
  border: none;
}

/* vim:set et ts=2 sw=2 nowrap: */
