body        { background: #FFF; color: #000; }
:target     { background: #FF06; }
pre, code   { background: #eee; }
hr          { background: #CCC; color: #CCC; }
a           { color: inherit;}
::selection { background: #BDF; color: inherit; }

@media (prefers-color-scheme: dark) {
  body        { background: #000; color: #FFF; }
  pre, code   { background: #333; }
  hr          { background: #333; color: #333; }
  ::selection { background: #88F6; color: inherit; }
}

body {
  margin: 1ch auto;
  padding: 0 1ch;
  max-width: 72ch;
  font-family: monospace;
  font-size: 16px;
}

pre { padding: 2ch; }
code { padding: 0 0.5ch; }

a.self-link       { text-decoration: none; }
a.self-link:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { font-family: serif; }

hr {
  border: none;
  height: 1px;
  max-width: 50ch;
  margin: 1ch auto;
}

th, td { padding: 0.5ch; }
table, th, td { border: 1px solid; }
h1 { letter-spacing: -1px; }
h2 { letter-spacing: -0.5px; }
u { text-decoration: underline wavy; }

a       { text-decoration: underline; }
a:hover { text-decoration: underline double; }

/* Blog */
table.blog-date {
  padding: 0;
  color: #888;
  border: none;
  margin-right: 0;
  margin-left: auto;
  margin-top: 2ch;
  margin-bottom: 4ch;
  font-size: smaller;
}
td.blog-date {
  border: none;
  padding: 0 1ch;
}
h1.title {
  margin: 2ch 0;
  text-align: center;
  font-family: serif;
}
p.subtitle {
  margin: 2ch 0;
}


/* Blog index */
table.blog-index {
  margin: 2ch 0;
  border: none;
  width: 100%;
}
td.blog-index-name {
  text-align: left;
  padding: 0;
  border: none;
}
td.blog-index-date {
  text-align: right;
  padding: 0;
  border: none;
  color: #888;
  font-size: smaller;
}

/* vim:set et ts=2 sw=2 nowrap: */
