/* Colors */
body        { background: #FFF; color: #000;    }
:target     { background: #FF06;                }
pre, code   { background: #eee;                 }
hr          { background: #CCC; color: #CCC;    }
a           { color: inherit;                   }
::selection { background: #BDF; color: inherit; }

table.blog-date     { color: #888; }
td.blog-index-date  { color: #888; }

@media (prefers-color-scheme: dark) {
  body        { background: #000; color: #FFF;     }
  pre, code   { background: #333;                  }
  hr          { background: #333; color: #333;     }
  ::selection { background: #88F6; color: inherit; }
}


/* Fonts */
body                    { font-family: monospace; }
#title                  { font-family: serif;     }
h1, h2, h3, h4, h5, h6  { font-family: serif;     }

body                { font-size: 16px;    }
table               { font-size: 16px;    }
table.blog-date     { font-size: smaller; }
#title              { font-size: larger;  }
td.blog-index-date  { font-size: smaller; }


/* Everything else */
body {
  margin: 1ch auto;
  padding: 0 1ch;
  max-width: 72ch;
  text-align: justify;
}

pre  { padding: 2ch; }
code { padding: 0 0.5ch; }

th, td        { padding: 0.5ch; }
th, td, table { border: 1px solid; }

a                 { text-decoration: underline; }
a.self-link       { text-decoration: none;      }
a.self-link:hover { text-decoration: underline; }

a:hover           { font-weight: bolder;  transition: .15s ease font-weight; }
a.self-link:hover { font-weight: inherit; transition: none;                  }

hr {
  border: none;
  height: 1px;
  max-width: 50ch;
  margin: 1ch auto;
}

footer    { text-align: center;   }
footer hr { max-width:  inherit;  }


/* Blog */
table.blog-date {
  padding: 0;
  border: none;
  margin-right: 0;
  margin-left: auto;
  margin-top: 2ch;
  margin-bottom: 4ch;
}
td.blog-date {
  border: none;
  padding: 0 1ch;
}
h1.title {
  margin: 2ch 0;
  text-align: center;
}
p.subtitle {
  margin: 2ch 0;
}


/* Blog index */
table.blog-index {
  margin: 2ch 0;
  border: none;
  width: 100%;
}
td.blog-index-name {
  text-align: left;
  padding: 0;
  border: none;
}
td.blog-index-date {
  text-align: right;
  padding: 0;
  border: none;
}

/* vim:set et ts=2 sw=2 nowrap: */
